/* Main formatting */

html {
	font-size: 1rem;
	color: #4f5a61;
}

body {
	background-image: url(img/tile.png);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	background-color: #d3dadb;
	font-family: Trebuchet MS, Geneva, sans-serif;
	line-height: 2.25;
}

main {
	background-color: #f8fcfc;
	filter: drop-shadow(1px 2px 2px #78818a);
	border-radius: 2px;
}

article {
	padding: 2rem;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

button {
	background: none;
	outline: none;
	border: none;
	color: #4e5a61;
	font-size: 1rem;
}

footer {
	text-align: center;
	padding: 2rem;
}

/* Navigation bar */

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

nav li {
	padding: 1rem 2rem 1rem 2rem;
	float: left;
}

nav a {
	color: #4e5a61;
	display: block;
	text-decoration: none;
}

#homeName {
	font-size: 1rem;
	font-weight: bold;
}

/* Links */

a {
	font-size: 1rem;
	color: #4f5a61;
}

a:hover {
	color: #242a33;
}

/* Article buttons */

.articleButton {
	border: 1px solid #d3dadb;
	border-radius: 2px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
}

.articleButton:hover {
	background-color: #faffff;
}

.articleButton img {
	float: left;
	width: 25%;
	margin: 1em;
}

.articleTitle {
	font-weight: bold;
}

.articleDescription {
	overflow: visible;
	word-wrap: break-word;
}

/* Responsive queries */

@media (max-width: 1000px) {
	/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
	
	nav {
		position: relative;
	}
	
	nav li {
		float: none;
		display: block;
		text-align: left;
	}
	
	nav.closedNav li:not(:first-child) {
		display: none;
	}
}

@media (min-width: 1000px) {
	main {
		margin-left: 22%;
		margin-right: 22%;
	}
	
	li:first-child {
		display: none;
		width: 0;
	}
}
